body {
    background-color: black;
}

.container {
    background-color: blanchedalmond;
    position: relative;
    width: 500px;
    height: 500px;
    margin: auto;
}

#map {
    height: 100%;
}

.command {
    position: absolute;
    border-radius: 50%;
    background-color: cornflowerblue;
    height: 1rem;
    width: 1rem;
}

.top-left {
    left: 1rem;
    top: 1rem;
}

.top-right {
    right: 1rem;
    top: 1rem;
}

.bottom-left {
    left: 1rem;
    bottom: 1rem;
}

.bottom-right {
    right: 1rem;
    bottom: 1rem;
}